h1, h2, h3 {
	font-family: $serif;
}

h1 {
	font-weight: 300;
	line-height: 1.1;
}

p, dl, ol, ul {
	font-size: $h5 * 1.1;
}

.serif {
	font-family: $serif;
}

.xsmall {
	font-size: 12px;
}

.small {
	font-size: 13px;
}